body{
    background: linear-gradient(0deg, rgba(20,30,52,1) 0%, rgba(173,57,91,1) 100%);
    height: 100vh;
    background-size: cover;
    background-position: center;
    margin: 0;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 30px 30px 30px;
}

.table{
    color: black;
    margin-top: 20px;
    padding: 30px 30px 30px 30px;
}