body{
    background-image: url('../resource/img/fondo2.jpg');
    height: 100vh;
    background-size: cover;
    background-position: center;
    margin: 0;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 30px 30px 30px;
}

.table{
    color: white;
    margin-top: 20px;
    padding: 30px 30px 30px 30px;
}