body{
    background-image: url('../resource/img/fondo.jpg');
    height: 100vh;
}

.container{
    display: flex;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
}

.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 30px 30px 30px;
    border-radius: 10px;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(5px);
}

.container-2 .inputT{
    width: 100%;
    border: none;
    outline: none;
    border-radius: 30px;
    background: transparent;
    border: 2px solid rgb(255, 255, 255);
    color: black;
}

.container-2 input::placeholder{
    color: #fff;
}

.form h1{
    padding-bottom: 10px;
}

.btnLogin{
    width: 100%;
}